.page-home-hero{
	background: #37aae1 url('../img/home-header.png') no-repeat center;
	background-size: cover;
	position: relative;
	height: 200px;
}
.page-home-hero:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
}
.page-home-hero .caption{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.page-home-hero .caption h2{
	margin: 0px;
}
.page-home-hero .caption h5{
	margin: 0;
	text-transform: uppercase;
}
.data-search{
	background: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	overflow: hidden
}
.data-search *,
.data-search *:after,
.data-search *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
.data-search input{
	width: 100%;
	height: 40px;
	float: left;
	background: none;
	border: none;
	outline: none;
	padding: 0 40px 0 15px;
}
.data-search button{
	width: 40px;
	display: block;
	float: left;
	height: 40px;
	background: none;
	border: none;
	outline: none;
	font-size: 24px;
	color: #aaa;
	position: absolute;
	top: 0;
	right: 0;
}
.card-header-pic{
	height: 120px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.page-detail-header-background{	
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background-color: #eee;
}
.page-detail-header-background .floating-button{
	bottom: 0;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
}
.floating-button .ion{
	font-size: 24px;
}
.content-block img{
	max-width: 100%;
}
.video-container{
	overflow: hidden;
	background: #111;
}
.sidebar-header{
	height: 150px;
	margin: 0;
	background-image: url('../img/bg-sidebar.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.sidebar-nav ul:before,
.sidebar-nav ul:after{
	background: none;
}
.sidebar-nav .item-link .item-inner{
	background: none;
	padding-right: 15px;
	border: none;
}
.sidebar-nav .item-link .item-inner:after{
	background: none;
}
.sidebar-nav .item-media i{
	font-size: 24px;
	color: #aaa;
}
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
.icon-menu{
	text-align: center;
	display: block;
	margin-bottom: 15px;
	color: #111!important;
}
.icon-menu *,
.icon-menu *:after,
.icon-menu *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
.icon-menu i{
	font-size: 32px;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	padding-top: 7px;
	border-radius: 5px;
	margin-bottom: 5px;
	border-bottom: 4px solid rgba(0,0,0,0.3);
	display: block;
    overflow: hidden;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.page-preloader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.template_header{
	height: 150px;
	background: #eee;
}
.text-right{
	text-align: right;
}
.search-paging a{
	display: block;
	width: 50%;
	float: left;
	display: none;
}
.search-paging a.page-next{
	float: right;
}